{% extends 'shortening_link/base.html' %}
{% block title %}SimpleBlog{% endblock %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Сокращаем ссылки - просто!</h1>
      <p class="lead">Без Пап, Мам и регистрации смс</p>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h3 class="display1">Давайте попробуем</h3>

                <form action="{% url 'shortening_link:index' %}" method="post">
                    {% csrf_token %}
                    <div class="container">
                      <br>
                      <label for="basic-url">Введите ссылку для сокращения </label>
                     <input class="form-control" type="text" placeholder="Введите ссылку " name="old_link" >
                     <label for="basic-url">Если нужна кастомная ссылка </label>
                     <input class="form-control" type="text" placeholder="Введите желаемое сокращение" name="custom_link" >
                     <input class="btn btn-primary" type="submit" value="Отправить">
                    </form>
                  </div>
                {% if warning_list %}
                  {% for i in warning_list %}
                    <div class="alert alert-danger" role="alert">
                      {{i}}
                    </div>
                  {% endfor %}
                {% endif %}
           {% if new_link %}
           <div class="alert alert-success" role="alert">
            Сокращенная ссылка: {{ new_link }}
            <a href="{{ new_link }}" ><button type="button" class="btn btn-warning"> Перейти</button></a>
          </div>
           {% endif %}
        </div>
      </div>
  </div>
{% endblock %}